@using EbayOnlineShopping.Models
@using EbayOnlineShopping.ViewModel
@using EbayOnlineShopping.ViewModels


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - EBay-Online</title>
    @*@Styles.Render("~/Content/css")*@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/MyMainLayOut.css" rel="stylesheet" />

    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-6">
                <div href="@Url.Action("Index", "Home")" class="logo">
                    <h1><a href="@Url.Action("Index", "Home")">EbayOnline - <span>Shopping</span></a> </h1>
                    <p>My Shop</p>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="account">
                    @*<ul>
                            <li>
                                <div class="hidden-xs">
                                    <h4>
                                        <a>Call</a>
                                    </h4>
                                    <p>+61-042###784</p>
                                </div>
                                <div class="visible-xs">

                                    <p>+61-042###784</p>
                                </div>
                            </li>
                        </ul>*@

                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">Cart (3)<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            @if (Session["cart"] != null)
                            {
                                foreach (var item in (List<ItemModel>)Session["cart"])
                                {
                                    <li>
                                        <a href="@Url.Action("RemoveFromCart","Home",new {productId = item.Product.ProductId })">
                                            @item.Product.ProductName (@item.Quntity)
                                            <div>
                                                <i class="fa fa-times-circle-o"> Remove item</i>
                                            </div>
                                        </a>
                                    </li>

                                }
                            }

                            <li class="divider"></li>
                            <li><a href="@Url.Action("CheckOut","Home")" class="active">CheckOut</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="nav-menus">
                    <ul class="nav nav-pills">
                        <li class="active"> <a style="border-radius:initial;" href="@Url.Action("Index", "Home")">Home</a></li>
                        <li> <a style="border-radius:initial;" href="#">Location</a></li>

                        <li> <a style="border-radius:initial;" href="#">About</a></li>

                        @*<li class="active"> <a style="border-radius:initial" href="#">Home</a></li>

                            <li class="active"> <a style="border-radius:initial" href="#">Home</a></li>*@
                    </ul>
                </div>
            </div>
        </div>


        @RenderBody()
        <hr />
        <footer>
            <div class="row">
                <div class="col-md-12 copyright">
                    <div class="col-md-6 col-sm-6 copyright-left">
                        <p>&copy; @DateTime.Now.Year - EBay-Online. All right reserved. ABN 00 123 151 AUSA</p>

                    </div>
                    <div class="col-md-6 col-sm-6 copyright-right">
                        <ul class="list-unstyled list-social">
                            <li><a href="#" target="_blank"><i class="fa fa-facebook-square"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fa fa-youtube"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fa fa-linkedin"></i></a></li>

                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
